*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    font-family: 'SFRounded',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9fafb;
    display: flex;
    align-items: center;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}
@font-face {
    font-family: 'SFRounded';
    src: url('SFRounded-Regular.woff');
}
@font-face {
    font-family: 'Norse Bold';
    src: url(./assets/Fonts/Norse-Bold.otf);
}
:root {
    --left-side-width: 479px;
    --margin: 45px;
} 
  /* ------------------------------------------------------ */

.dark-bg {
    min-width: var(--left-side-width); 
    height: 1000px;
    
}

.logo {
 background-color: rgb(0 0 0 / 40%);
 width: var(--left-side-width);
 padding: 5px 0 5px 0;
 position: absolute;
 top: 222px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.logo-text {
    color: white;
    font-size: 95px;
    font-family: 'Norse Bold';
}

.logo-image {
    width: 95px;
}

.text {
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    width: 54ch;
    line-height: 1.2;
    margin-left: var(--margin);
}

.text .lower {
    margin: 25px 0 60px 0;
}

div.form {
    background-color: white;
    box-shadow: 0px 5px 7px rgb(206, 206, 206);
}


form {
    background-color: white;
    font-family: inherit;
    width: 837px;
    margin-left: var(--margin);
}

section {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0 0px 0;
}

section > div {
    /* display: flex; */
    /* flex-wrap: wrap; */
    max-width: 270px;
    margin-bottom: 23px;
}

input {
    width: 270px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid rgb(232, 229, 229);
    border-radius: 3px;
}
input:focus {
    border: 0;
    outline: 1px solid rgb(0 0 255);
    box-shadow: 4px 4px 4px rgb(206, 206, 206); 
}
input:invalid {
    border: 0;
    outline: 1px solid rgb(255 0 0);

}

.last-name, .phone-number, .confirm-pass {
    margin-left: 70px;
}

form > h1 {
    font-size: 1.5rem;
    font-weight: 500;
    width: 837px;
    padding-top: 10px;
}

label {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
}

.password > p {
    font-family: inherit;
    font-size: 12px;
    color: red;
}

button {
    padding: 12px 50px 12px 50px;
    border-radius: 10px;
    margin-left: var(--margin);
    margin-top: 35px;
    font-family: inherit;
    font-weight: 800;
    color: white;
    font-size: 1.1rem;
    background-color: rgb(25, 36, 60);
    box-shadow: 4px 4px 4px rgb(206, 206, 206);
}

.log-in {
    margin-left: var(--margin);
    margin-top: 30px;
    font-size: 1.1rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: rgb(25, 36, 60);
    font-weight: 700;
}




